# Data Manipulation in Python
Whether you want to be a data scientist, data engineer, or just automate some boring tasks with python, you'll spend a large portion of of your time manipulating data.<br>

Data manipulation can take many forms, but in essence it is converting data from one format to another. Think about getting a monthly report of sales numbers from your boss. Your company is global, but you're tasked with finding the sales rep with the most sales in North America. What steps do you need to do to find this information? Maybe something like this:

1. Filter the file for the North America Region
2. Add a look-up of distinct sales reps
3. Add a sumif to determine the total sales by sales rep
4. Sort the total sales from highest to lowest.

All of these steps are manipulating the raw data to get the final answer. <br>

Section 03 showed how to load a csv file into python. When the data is loaded in using pandas, it is loaded into a special data structure - a dataframe. A data frame is a table structure made up of rows and columns. Much like an excel table, a column typically represents an attribute or variable while a row represents a record: <br>

| Rep ID | Rep Name | Month | Sales (units)|
| --- | --- | --- | --- | 
| 1aa | Joe | January | 100 |
| 1aa | Joe | February | 200 |
| 1bb | John | January | 150 |
| 1bb | John | February | 150 |

In this table, we have 4 records & 4 columns describing each record. <br>

Pandas is a very popular package, so there is great documentation online & plenty of questions posted on Stack Overflow. There are other data structures that can store data in a similar way - dictionary, matrix, parquet, other. Choosing one is dependent on your programs needs. In general, a pandas dataframe is a good place to start. <br>

We'll cover these common data manipulation action: 

- Select / Drop
- Filter
- Distinct
- Order By
- Add Dataframe Columns
- Group By & Summarize
- Merge
- Append / Union

Let's load the data and get started.

In [1]:
# Import pandas
import pandas as pd

# Define the file path
file_path = '../../2022-fall-python-tutorial/data/2022_boxscores.csv' # '../..' helps python to find the file

# Load file
df = pd.read_csv(file_path)

# Print first 3 rows of data
df.head(3)

,away_assist_percentage,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
0,50.0,11,15.4,6,98.6,51.3,20,0.421,57,0.386,...,17,0.0,0,"Jon M. Huntsman Center, Salt Lake City, Utah",ABILENE-CHRISTIAN,Abilene Christian,71.0,Home,UTAH,Utah
1,68.8,22,0.0,0,101.3,67.7,21,0.507,73,0.438,...,15,0.0,0,"Reed Arena, College Station, Texas",ABILENE-CHRISTIAN,Abilene Christian,64.3,Home,TEXAS-AM,Texas A&M
2,59.1,13,0.0,0,86.6,76.7,23,0.381,67,0.328,...,18,0.0,0,"College Park Center, Arlington, Texas",TEXAS-ARLINGTON,UT Arlington,72.6,Away,ABILENE-CHRISTIAN,Abilene Christian

### Selecting / Dropping Data
After loading the boxscore dataframe, notice on the far left side that there is a number on each row 0, 1, 2, ... This is called the **index** - this helps python perform data manipulation functions efficiently & also allows you to select certain rows of data. <br>

**Select** a single column of a dataframe using: 
- df['column_name']

**Select** multiple columns of a dataframe using:
- df[['column_name_1', 'column_name_2']]

Notice that selecing a single column by name has a single '[' bracket while selecing multiple columns uses multiple brackets '[['.

In [2]:
# Select all of the winning names in df
print('Winning Names: ')
df['winning_name'].head(3)

# Select all of the winning names AND losing names in df
print('Winning Names AND Losing Names: ')
df[['winning_name', 'losing_name']].head(3)

Winning Names:
Winning Names AND Losing Names:

        winning_name        losing_name
0               Utah  Abilene Christian
1          Texas A&M  Abilene Christian
2  Abilene Christian       UT Arlington

**Select** a single row of a dataframe using: 
- df.iloc[row_num]

**Select** multiple rows of a dataframe using: 
- df.iloc[row_start:row_end]

The *row_end* is not inclusive, meaning that I'm selecting rows up to **not** including that row index added. 

**Important** - the row index starts at 0 by default! Always remember that when selecting rows.

In [3]:
# Select 1st row of data
print('1st row of data: ')
df.iloc[0]

# Select 2nd & 3rd rows of data
print('2nd & 3rd rows of data: ')
df.iloc[1:3] # remember that 1 is the second row - index starts at 0.

1st row of data:
2nd & 3rd rows of data:

,away_assist_percentage,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
1,68.8,22,0.0,0,101.3,67.7,21,0.507,73,0.438,...,15,0.0,0,"Reed Arena, College Station, Texas",ABILENE-CHRISTIAN,Abilene Christian,64.3,Home,TEXAS-AM,Texas A&M
2,59.1,13,0.0,0,86.6,76.7,23,0.381,67,0.328,...,18,0.0,0,"College Park Center, Arlington, Texas",TEXAS-ARLINGTON,UT Arlington,72.6,Away,ABILENE-CHRISTIAN,Abilene Christian

**Drop** a column from a dataframe using the 'drop' function: 
- df.drop([column_name_1], inplace = True, axis = 1)

Setting inplace = True will manipulate the dataframe without forcing you to define a new dataframe. Setting axis = 1 indicates that a column should be dropped. Alternatively, you can use: 
- df_new = df.drop([column_name_1], axis = 1)

In [4]:
# Drop the away_assist_percentage column
df.drop(['away_assist_percentage'], inplace=True, axis=1)
df.head(3)

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
0,11,15.4,6,98.6,51.3,20,0.421,57,0.386,22,...,17,0.0,0,"Jon M. Huntsman Center, Salt Lake City, Utah",ABILENE-CHRISTIAN,Abilene Christian,71.0,Home,UTAH,Utah
1,22,0.0,0,101.3,67.7,21,0.507,73,0.438,32,...,15,0.0,0,"Reed Arena, College Station, Texas",ABILENE-CHRISTIAN,Abilene Christian,64.3,Home,TEXAS-AM,Texas A&M
2,13,0.0,0,86.6,76.7,23,0.381,67,0.328,22,...,18,0.0,0,"College Park Center, Arlington, Texas",TEXAS-ARLINGTON,UT Arlington,72.6,Away,ABILENE-CHRISTIAN,Abilene Christian

In [5]:
df.drop(['away_assists'], axis=1)
df.head(3)

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
0,11,15.4,6,98.6,51.3,20,0.421,57,0.386,22,...,17,0.0,0,"Jon M. Huntsman Center, Salt Lake City, Utah",ABILENE-CHRISTIAN,Abilene Christian,71.0,Home,UTAH,Utah
1,22,0.0,0,101.3,67.7,21,0.507,73,0.438,32,...,15,0.0,0,"Reed Arena, College Station, Texas",ABILENE-CHRISTIAN,Abilene Christian,64.3,Home,TEXAS-AM,Texas A&M
2,13,0.0,0,86.6,76.7,23,0.381,67,0.328,22,...,18,0.0,0,"College Park Center, Arlington, Texas",TEXAS-ARLINGTON,UT Arlington,72.6,Away,ABILENE-CHRISTIAN,Abilene Christian

Notice in the above code that the 'away_assists' column is still in the dataframe. This is due to the inplace argument. <br>

To drop a row from a dataframe, the same inplace logice applies, however, set axis = 0: 
- df.drop([1], inplace = True, axis = 0)

In the example below, notice that the row with the index = 1 is now removed from the dataframe.

In [6]:
# Drop the second row (index = 1)
df.drop([1], axis = 0, inplace = True)
df.head(3)

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
0,11,15.4,6,98.6,51.3,20,0.421,57,0.386,22,...,17,0.0,0,"Jon M. Huntsman Center, Salt Lake City, Utah",ABILENE-CHRISTIAN,Abilene Christian,71.0,Home,UTAH,Utah
2,13,0.0,0,86.6,76.7,23,0.381,67,0.328,22,...,18,0.0,0,"College Park Center, Arlington, Texas",TEXAS-ARLINGTON,UT Arlington,72.6,Away,ABILENE-CHRISTIAN,Abilene Christian
3,12,0.0,0,114.1,64.5,20,0.477,43,0.395,17,...,29,0.0,0,"Teague Special Events Center, Abilene, Texas",McMurry\n\t\t\t,McMurry\n\t\t\t,78.0,Home,ABILENE-CHRISTIAN,Abilene Christian

Although not technically required, it is best practice to reset the dataframe index after manipulating it. To do so - use the *reset_index* fuction: 
- df.reset_index(drop = True, inplace = True)

Setting 'drop' = True will drop the original index entirely. If it is set to false, then a column named 'index' with the original index will be added to the dataframe.

In [7]:
df.reset_index(drop = True, inplace = True)
df.head(3)

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
0,11,15.4,6,98.6,51.3,20,0.421,57,0.386,22,...,17,0.0,0,"Jon M. Huntsman Center, Salt Lake City, Utah",ABILENE-CHRISTIAN,Abilene Christian,71.0,Home,UTAH,Utah
1,13,0.0,0,86.6,76.7,23,0.381,67,0.328,22,...,18,0.0,0,"College Park Center, Arlington, Texas",TEXAS-ARLINGTON,UT Arlington,72.6,Away,ABILENE-CHRISTIAN,Abilene Christian
2,12,0.0,0,114.1,64.5,20,0.477,43,0.395,17,...,29,0.0,0,"Teague Special Events Center, Abilene, Texas",McMurry\n\t\t\t,McMurry\n\t\t\t,78.0,Home,ABILENE-CHRISTIAN,Abilene Christian

### Filtering Data
A filter is similar to selecting rows - however, it is based on criteria rather than row indices. For example: 
- Select sales reps stationed in the USA
- Select sales reps that had sales in March > 100 units

Filters can be applied exactly the same way as in excel: 
- equal 
- does not equal
- greater than / greater than or equal to
- less than / less than or equal to
- is in list
- is NOT in list

To apply a single filter: 
- df[df['column_name'] == value]

In addition to adding one filter at a time, filters can apply multiple criteria using AND / OR logic. For example: 
- df[(df['column_name'] == value) & (df['column_name'] > value)]
- df[(df['column_name'] == value) | (df['column_name'] > value)]

To select all values contained in a list: 
- df[df['column_name'].isin(list)]


To select all values NOT contained in a list: 
- df[~df['column_name'].isin(list)]

In [8]:
# Filter df for winning_name = 'Cincinnati'
df[df["winning_name"] == 'Cincinnati'].head(3)

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
94,11,6.1,2,118.7,63.3,19,0.395,62,0.371,23,...,18,0.0,0,"Fifth Third Arena, Cincinnati, Ohio",ALABAMA-AM,Alabama A&M,75.4,Home,CINCINNATI,Cincinnati
1039,13,13.3,6,101.4,65.6,21,0.364,59,0.322,19,...,21,0.0,0,"Fifth Third Arena, Cincinnati, Ohio",BRYANT,Bryant,71.9,Home,CINCINNATI,Cincinnati
1784,8,3.1,1,97.0,81.8,27,0.324,54,0.259,14,...,18,0.0,0,"Fifth Third Arena, Cincinnati, Ohio",EVANSVILLE,Evansville,66.9,Home,CINCINNATI,Cincinnati

In [9]:
# Filter df for winning_name != (does not equal)
df[df["winning_name"] != 'Cincinnati'].head(3)

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
0,11,15.4,6,98.6,51.3,20,0.421,57,0.386,22,...,17,0.0,0,"Jon M. Huntsman Center, Salt Lake City, Utah",ABILENE-CHRISTIAN,Abilene Christian,71.0,Home,UTAH,Utah
1,13,0.0,0,86.6,76.7,23,0.381,67,0.328,22,...,18,0.0,0,"College Park Center, Arlington, Texas",TEXAS-ARLINGTON,UT Arlington,72.6,Away,ABILENE-CHRISTIAN,Abilene Christian
2,12,0.0,0,114.1,64.5,20,0.477,43,0.395,17,...,29,0.0,0,"Teague Special Events Center, Abilene, Texas",McMurry\n\t\t\t,McMurry\n\t\t\t,78.0,Home,ABILENE-CHRISTIAN,Abilene Christian

In [10]:
# Filter df for away_assists > 15
print('Greater Than 15: ')
df[df["away_assists"] > 15].head(3)

Greater Than 15:

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
10,23,0.0,0,118.8,69.6,16,0.571,63,0.492,31,...,17,0.0,0,"UCCU Center, Orem, Utah",UTAH-VALLEY,Utah Valley,63.5,Away,ABILENE-CHRISTIAN,Abilene Christian
18,20,6.7,2,103.7,71.4,15,0.477,66,0.424,28,...,21,0.0,0,"UTRGV Fieldhouse, Edinburg, Texas",TEXAS-PAN-AMERICAN,Texas-Rio Grande Valley,82.2,Away,ABILENE-CHRISTIAN,Abilene Christian
22,21,2.9,1,100.0,64.3,18,0.568,59,0.508,30,...,19,0.0,0,"Wisdom Gym, Stephenville, Texas",TARLETON-STATE,Tarleton State,62.6,Away,ABILENE-CHRISTIAN,Abilene Christian

In [11]:
# Filter df for away_assists >= 9
print('Greater Than or Equal to 9: ')
df[df["away_assists"] >= 9].head(3)

Greater Than or Equal to 9:

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
0,11,15.4,6,98.6,51.3,20,0.421,57,0.386,22,...,17,0.0,0,"Jon M. Huntsman Center, Salt Lake City, Utah",ABILENE-CHRISTIAN,Abilene Christian,71.0,Home,UTAH,Utah
1,13,0.0,0,86.6,76.7,23,0.381,67,0.328,22,...,18,0.0,0,"College Park Center, Arlington, Texas",TEXAS-ARLINGTON,UT Arlington,72.6,Away,ABILENE-CHRISTIAN,Abilene Christian
2,12,0.0,0,114.1,64.5,20,0.477,43,0.395,17,...,29,0.0,0,"Teague Special Events Center, Abilene, Texas",McMurry\n\t\t\t,McMurry\n\t\t\t,78.0,Home,ABILENE-CHRISTIAN,Abilene Christian

In [12]:
# Filter df for away_assists < 5
print('Less than 5: ')
df[df["away_assists"] < 5].head(3)

Less than 5:

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
8,3,3.9,2,138.3,56.3,18,0.326,46,0.261,12,...,35,0.0,0,"Teague Special Events Center, Abilene, Texas",Howard Payne\n\t\t\t,Howard Payne\n\t\t\t,80.8,Home,ABILENE-CHRISTIAN,Abilene Christian
24,4,15.8,6,96.3,73.0,27,0.325,40,0.300,12,...,17,0.0,0,"Teague Special Events Center, Abilene, Texas",LAMAR,Lamar,79.7,Home,ABILENE-CHRISTIAN,Abilene Christian
34,1,11.4,4,109.1,78.1,25,0.375,48,0.375,18,...,19,0.0,0,"Ocean Center, Daytona Beach, Florida",HOLY-CROSS,Holy Cross,65.6,Home,AIR-FORCE,Air Force

In [13]:
# Filter df for away_assists < 2
print('Less than or Equal to 2: ')
df[df["away_assists"] <= 2].head(3)

Less than or Equal to 2:

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
34,1,11.4,4,109.1,78.1,25,0.375,48,0.375,18,...,19,0.0,0,"Ocean Center, Daytona Beach, Florida",HOLY-CROSS,Holy Cross,65.6,Home,AIR-FORCE,Air Force
1765,2,2.7,1,119.4,55.3,21,0.462,52,0.442,23,...,20,0.0,0,"Grand Canyon University Arena, Phoenix, Arizona",CHICAGO-STATE,Chicago State,67.5,Home,GRAND-CANYON,Grand Canyon
3241,2,2.8,1,104.2,70.4,19,0.391,64,0.344,22,...,25,0.0,0,"EagleBank Arena, Fairfax, Virginia",STONY-BROOK,Stony Brook,71.4,Home,GEORGE-MASON,George Mason

In [14]:
# Define team list
team_list = ['Cincinnati', 'Air Force']

# Filter df for winning_name is in the team_list
df[df['winning_name'].isin(team_list)].head(3)

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
32,13,8.1,3,92.1,75.0,24,0.582,49,0.490,24,...,15,0.0,0,"Donald W. Reynolds Center, Tulsa, Oklahoma",TULSA,Tulsa,63.1,Away,AIR-FORCE,Air Force
33,7,5.0,1,95.3,79.3,23,0.429,49,0.408,20,...,13,0.0,0,"Clune Arena , Colorado Springs, Colorado",TEXAS-SOUTHERN,Texas Southern,63.8,Home,AIR-FORCE,Air Force
34,1,11.4,4,109.1,78.1,25,0.375,48,0.375,18,...,19,0.0,0,"Ocean Center, Daytona Beach, Florida",HOLY-CROSS,Holy Cross,65.6,Home,AIR-FORCE,Air Force

In [15]:
# Filter df for winning_name is NOT in the team_list
df[~df['winning_name'].isin(team_list)].head(3)

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
0,11,15.4,6,98.6,51.3,20,0.421,57,0.386,22,...,17,0.0,0,"Jon M. Huntsman Center, Salt Lake City, Utah",ABILENE-CHRISTIAN,Abilene Christian,71.0,Home,UTAH,Utah
1,13,0.0,0,86.6,76.7,23,0.381,67,0.328,22,...,18,0.0,0,"College Park Center, Arlington, Texas",TEXAS-ARLINGTON,UT Arlington,72.6,Away,ABILENE-CHRISTIAN,Abilene Christian
2,12,0.0,0,114.1,64.5,20,0.477,43,0.395,17,...,29,0.0,0,"Teague Special Events Center, Abilene, Texas",McMurry\n\t\t\t,McMurry\n\t\t\t,78.0,Home,ABILENE-CHRISTIAN,Abilene Christian

In [16]:
# Filter for winning_name = 'Cincinnati' AND away_assists > 5
df[(df['winning_name'] == 'Cincinnati') & (df['away_assists'] > 5)].head(3)

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
94,11,6.1,2,118.7,63.3,19,0.395,62,0.371,23,...,18,0.0,0,"Fifth Third Arena, Cincinnati, Ohio",ALABAMA-AM,Alabama A&M,75.4,Home,CINCINNATI,Cincinnati
1039,13,13.3,6,101.4,65.6,21,0.364,59,0.322,19,...,21,0.0,0,"Fifth Third Arena, Cincinnati, Ohio",BRYANT,Bryant,71.9,Home,CINCINNATI,Cincinnati
1784,8,3.1,1,97.0,81.8,27,0.324,54,0.259,14,...,18,0.0,0,"Fifth Third Arena, Cincinnati, Ohio",EVANSVILLE,Evansville,66.9,Home,CINCINNATI,Cincinnati

In [17]:
# Filter for winning_name = 'Cincinnati' OR away_assists > 20
df[(df['winning_name'] == 'Cincinnati') | (df['away_assists'] > 20)].head(3)

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
10,23,0.0,0,118.8,69.6,16,0.571,63,0.492,31,...,17,0.0,0,"UCCU Center, Orem, Utah",UTAH-VALLEY,Utah Valley,63.5,Away,ABILENE-CHRISTIAN,Abilene Christian
22,21,2.9,1,100.0,64.3,18,0.568,59,0.508,30,...,19,0.0,0,"Wisdom Gym, Stephenville, Texas",TARLETON-STATE,Tarleton State,62.6,Away,ABILENE-CHRISTIAN,Abilene Christian
94,11,6.1,2,118.7,63.3,19,0.395,62,0.371,23,...,18,0.0,0,"Fifth Third Arena, Cincinnati, Ohio",ALABAMA-AM,Alabama A&M,75.4,Home,CINCINNATI,Cincinnati

**Important** - in all of the above examples, we are just returning the values that meet the filter criteria. To select these values into a new dataframe, we need to define the new dataframe: 
- df_2 = df[df['column_name'] == value]

When defining a new datafame based on filtered data, it is best practice to reset the index.

In [18]:
# Define new dataframe for all records where winning_name = 'Cincinnati'
df_2 = df[df['winning_name'] == 'Cincinnati'].reset_index(drop = True)
df_2.head(3)

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
0,11,6.1,2,118.7,63.3,19,0.395,62,0.371,23,...,18,0.0,0,"Fifth Third Arena, Cincinnati, Ohio",ALABAMA-AM,Alabama A&M,75.4,Home,CINCINNATI,Cincinnati
1,13,13.3,6,101.4,65.6,21,0.364,59,0.322,19,...,21,0.0,0,"Fifth Third Arena, Cincinnati, Ohio",BRYANT,Bryant,71.9,Home,CINCINNATI,Cincinnati
2,8,3.1,1,97.0,81.8,27,0.324,54,0.259,14,...,18,0.0,0,"Fifth Third Arena, Cincinnati, Ohio",EVANSVILLE,Evansville,66.9,Home,CINCINNATI,Cincinnati

### Distinct Values
To select distinct values, we have two primary functions: 
- df.drop_duplicates(): for a dataframe
- df[['column_name_1', 'column_name_2']].drop_duplicates(): for multiple dataframe columns
- df['column_name'].unique(): for a single column
- set(list_name): for a list

These functions will return the unique values from the data source.

In [23]:
# Drop duplicates example
print(df[['winning_name', 'losing_name']].head(3))

# Compare lengths with & without drop_duplicates
print('There are ' + str(len(df[['winning_name', 'losing_name']])) + ' total combinations of winning_name & losing name')
print('There are ' + str(len(df[['winning_name', 'losing_name']].drop_duplicates())) + ' unique combinations of winning_name & losing name')

        winning_name        losing_name
0               Utah  Abilene Christian
1  Abilene Christian       UT Arlington
2  Abilene Christian    McMurry\n\t\t\t
There are 11122 total combinations of winning_name & losing name
There are 4748 unique combinations of winning_name & losing name

When using drop_duplicates to create a new dataframe, add reset_index() to clean the index. 
- df.drop_duplicates().reset_index(drop = True)

In [25]:
# Use unique to get distinct values in list
print('There are ' + str(len(df['winning_name'])) + ' winning_name values')
print('There are ' + str(len(df['winning_name'].unique())) + ' unique winning_name values')

There are 11122 winning_name values
There are 366 unique winning_name values

In [30]:
# Create dummy list
fruit_list = ['apple', 'banana', 'apple', 'peach', 'orange']
print(fruit_list)

# Print unique fruits
print(list(set(fruit_list)))

['apple', 'banana', 'apple', 'peach', 'orange']
['peach', 'banana', 'apple', 'orange']

### Arrange Data
To order values in a list or column use: 
- list_name.sort(): Note - this sorts the list without requiring it to be renamed
- df.sort_values(['column_name_1', *'column_name_2'*, ...], ascending = True): Define 'inplace = True' if needed

Set ascending = True or False depending on the order preference.

In [32]:
# Sort the fruit_list
fruit_list.sort()
print(fruit_list)

['apple', 'apple', 'banana', 'orange', 'peach']

In [34]:
# Sort df by winning_name
df.sort_values(['winning_name'], ascending = True, inplace = True)
df.head(3)

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_two_point_field_goals,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name
8583,7,6.9,2,98.7,71.4,25,0.417,60,0.383,23,...,13,0.0,0,"Orleans Arena, Paradise, Nevada",SEATTLE,Seattle,76.7,Away,ABILENE-CHRISTIAN,Abilene Christian
24,4,15.8,6,96.3,73.0,27,0.325,40,0.300,12,...,17,0.0,0,"Teague Special Events Center, Abilene, Texas",LAMAR,Lamar,79.7,Home,ABILENE-CHRISTIAN,Abilene Christian
10186,23,0.0,0,118.8,69.6,16,0.571,63,0.492,31,...,17,0.0,0,"UCCU Center, Orem, Utah",UTAH-VALLEY,Utah Valley,63.5,Away,ABILENE-CHRISTIAN,Abilene Christian

### Add dataframe columns
To add columns to a dataframe, define a new column like below: 
- df['new_column_name'] = value

This can be completed using a hard-coded value or other columns can be joined together. For example, 
- df['new_column_name] = df['column_1'] + df['column_2']

**Important** - ensure that data types match when joining columns. For example, you can only add a number to a number & a string to a string. Trying to add a string to a number will result in an error.

In [36]:
# Add hard-coded column value
df['sample_column'] = 'test_value'
df.head(3) # scroll right to see new column

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_win_percentage,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name,sample_column
8583,7,6.9,2,98.7,71.4,25,0.417,60,0.383,23,...,0.0,0,"Orleans Arena, Paradise, Nevada",SEATTLE,Seattle,76.7,Away,ABILENE-CHRISTIAN,Abilene Christian,test_value
24,4,15.8,6,96.3,73.0,27,0.325,40,0.300,12,...,0.0,0,"Teague Special Events Center, Abilene, Texas",LAMAR,Lamar,79.7,Home,ABILENE-CHRISTIAN,Abilene Christian,test_value
10186,23,0.0,0,118.8,69.6,16,0.571,63,0.492,31,...,0.0,0,"UCCU Center, Orem, Utah",UTAH-VALLEY,Utah Valley,63.5,Away,ABILENE-CHRISTIAN,Abilene Christian,test_value

In [37]:
# Calculate away_assists + away_blocks
df['away_assists_blocks'] = df['away_assists'] + df['away_blocks']
df.head(3) # scroll right to see new column

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,home_wins,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name,sample_column,away_assists_blocks
8583,7,6.9,2,98.7,71.4,25,0.417,60,0.383,23,...,0,"Orleans Arena, Paradise, Nevada",SEATTLE,Seattle,76.7,Away,ABILENE-CHRISTIAN,Abilene Christian,test_value,9
24,4,15.8,6,96.3,73.0,27,0.325,40,0.300,12,...,0,"Teague Special Events Center, Abilene, Texas",LAMAR,Lamar,79.7,Home,ABILENE-CHRISTIAN,Abilene Christian,test_value,10
10186,23,0.0,0,118.8,69.6,16,0.571,63,0.492,31,...,0,"UCCU Center, Orem, Utah",UTAH-VALLEY,Utah Valley,63.5,Away,ABILENE-CHRISTIAN,Abilene Christian,test_value,23

Another useful method to add columns uses the numpy package's *where* function. This is equivalent to an **IF** statement in Excel. For example, 
- df['new_column'] = np.where(df['column_1] > df['column_2'], 1, 0)
    - *When the value of column 1 is greater than the value of column 2, then new column = 1, else it equals 0.*

In [38]:
# Import numpy package
import numpy as np

# Add a column = 1 if the away team made more than 30 field goals
df['shot_flag'] = np.where(df['away_field_goals'] > 30, 1, 0)
df.head(3) # scroll right to see new column

,away_assists,away_block_percentage,away_blocks,away_defensive_rating,away_defensive_rebound_percentage,away_defensive_rebounds,away_effective_field_goal_percentage,away_field_goal_attempts,away_field_goal_percentage,away_field_goals,...,location,losing_abbr,losing_name,pace,winner,winning_abbr,winning_name,sample_column,away_assists_blocks,shot_flag
8583,7,6.9,2,98.7,71.4,25,0.417,60,0.383,23,...,"Orleans Arena, Paradise, Nevada",SEATTLE,Seattle,76.7,Away,ABILENE-CHRISTIAN,Abilene Christian,test_value,9,0
24,4,15.8,6,96.3,73.0,27,0.325,40,0.300,12,...,"Teague Special Events Center, Abilene, Texas",LAMAR,Lamar,79.7,Home,ABILENE-CHRISTIAN,Abilene Christian,test_value,10,0
10186,23,0.0,0,118.8,69.6,16,0.571,63,0.492,31,...,"UCCU Center, Orem, Utah",UTAH-VALLEY,Utah Valley,63.5,Away,ABILENE-CHRISTIAN,Abilene Christian,test_value,23,1

A final popular method uses the **assign** function with what is called a *lambda* function. For more infromation, please visit the links below:

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.assign.html <br>
https://realpython.com/python-lambda/<br>

In [39]:
# Select a few columns to manipulate
sample_df = df[["home_assists", "away_assists", "winning_name", "losing_name"]]

# Create total_assists column
sample_df = sample_df.assign(
    total_assists = lambda x: x.home_assists + x.away_assists
)
sample_df.head(3)

,home_assists,away_assists,winning_name,losing_name,total_assists
8583,9,7,Abilene Christian,Seattle,16
24,18,4,Abilene Christian,Lamar,22
10186,22,23,Abilene Christian,Utah Valley,45

### Group & Summarize Data
The group by function in python is a way to aggregate data by different groups. For example, I may want to complete the following calculations on our dataset: 
- Sum of away_assists by winning_name
- Average of home_assists by winning_name
- Max away_field_goals by winning_name
- Min home_field_goals by winning_name

To group by & calculate these totals in python we use this syntax: 
- df.group_by(['column_1', *'colum_2*, ...], as_index = False)[column_to_agg].function()

In [40]:
# Calculate sum of away_assists by winning_name
df.groupby(['winning_name'], as_index = False)['away_assists'].sum().head()

             winning_name  away_assists
0       Abilene Christian           481
1  Academy of Art\n\t\t\t            13
2               Air Force           182
3                   Akron           445
4                 Alabama           440

In [42]:
# Calculate average of home_assists by winning_name
df.groupby(['winning_name'], as_index = False)['home_assists'].mean().head()

             winning_name  home_assists
0       Abilene Christian     15.285714
1  Academy of Art\n\t\t\t     13.000000
2               Air Force     12.727273
3                   Akron     11.431818
4                 Alabama     14.526316

In [43]:
# Calculate max away_field_goals by winning_name
df.groupby(['winning_name'], as_index = False)['away_field_goals'].max().head()

             winning_name  away_field_goals
0       Abilene Christian                31
1  Academy of Art\n\t\t\t                31
2               Air Force                26
3                   Akron                33
4                 Alabama                36

In [44]:
# Calculate min home_field_goals by winning_name
df.groupby(['winning_name'], as_index = False)['home_field_goals'].min().head()

             winning_name  home_field_goals
0       Abilene Christian                14
1  Academy of Art\n\t\t\t                23
2               Air Force                18
3                   Akron                17
4                 Alabama                19

Additional common aggregations in python:
- count(): count of values in column
- first(): first value in column
- last(): last value in column
- median(): median
- std(): standard deviation
- var(): variance
- mad(): mean absolute deviation
- prod(): product of all values
- size(): number of rows

### Merge data in python
If you're familiar with SQL, merging data in python is synonymous with a join in SQL. A common example would be *merging* two dataframes together. To join dataframes, the two (or more) tables must share a common value. The image below visualizes the different types of joins & what rows and columns are kept depending on type.


![](support-docs/merge_df_example.jpg)

**Inner Join**<br>
An inner join will keep values only if the key is present in **BOTH** tables. <br>

**Outer Join**<br>
An outer join will keep all values from both tables - replacing missing values with NA. <br>

**Left Join**<br>
A left join will keep all values from the left (first) table and add in any values that have a shared key in the right (second) table. <br>

**Right Join**<br>
A right join will keep all values from the right (second) table and add in any values that have a shared key in the left (first) table. <br>

For more information visit these two links: 
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html 
- https://www.w3schools.com/sql/sql_join.asp

In [46]:
# Calculate max away_field_goals by winning_name
df_1 = df.groupby(['winning_name'], as_index = False)['away_field_goals'].max().head()

# Calculate min home_field_goals by winning_name
df_2 = df.groupby(['winning_name'], as_index = False)['home_field_goals'].min().head()

In [47]:
# Left Join the data on winning_name
df_1.merge(df_2, on = 'winning_name', how = 'left').head(3)

             winning_name  away_field_goals  home_field_goals
0       Abilene Christian                31                14
1  Academy of Art\n\t\t\t                31                23
2               Air Force                26                18

In [48]:
# Right Join the data on winning_name
df_1.merge(df_2, on = 'winning_name', how = 'right').head(3)

             winning_name  away_field_goals  home_field_goals
0       Abilene Christian                31                14
1  Academy of Art\n\t\t\t                31                23
2               Air Force                26                18

In [49]:
# Inner Join the data on winning_name
df_1.merge(df_2, on = 'winning_name', how = 'inner').head(3)

             winning_name  away_field_goals  home_field_goals
0       Abilene Christian                31                14
1  Academy of Art\n\t\t\t                31                23
2               Air Force                26                18

In [50]:
# Outer Join the data on winning_name
df_1.merge(df_2, on = 'winning_name', how = 'outer').head(3)

             winning_name  away_field_goals  home_field_goals
0       Abilene Christian                31                14
1  Academy of Art\n\t\t\t                31                23
2               Air Force                26                18

### Append Data
Appending data is like stacking two (or more) dataframes on top of one another. This requires that both dataframes have the same columns. See the example below:

In [51]:
# Select winning_name & losing_name columns
teams_df = df[["winning_name", "losing_name"]]

# Keep unique values for winning & losing names
winning_list = teams_df[["winning_name"]].drop_duplicates()
losing_list = teams_df[["losing_name"]].drop_duplicates()

# Rename columns to allow for appending
winning_list.columns = ['team_name']
losing_list.columns = ['team_name']

# Append team names & take final distinct lookup
teams_df = winning_list.append(losing_list).reset_index(drop = True)
teams_df.head()

                team_name
0       Abilene Christian
1  Academy of Art\n\t\t\t
2               Air Force
3                   Akron
4                 Alabama